

.footer-col{
    width: 1520px;
    height: 400px;
    background-image: linear-gradient(to right, #BC9743 -9.84%, #AA8B42 12.29%, #816B3E 36.89%, #423D3A 110.47%);
}

.img-fornas{
    width: 30px;
    height: 30px;
}